package recipes

import (
	"app/internal/database"
	"app/internal/template/navbar"
	"app/internal/template/shared"
	"app/internal/template/navbar"
)

templ Recipes(user *database.User) {
	@shared.Base() {
		@navbar.NavBar(navbar.RecipesId, user.Admin)
		<div>
			<h1>This is the recipes page</h1>
		</div>
	}
}
