@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

:root {
    --app-box-shadow-offset: 4px;
    --app-box-shadow-blur: 10px;
    --app-box-shadow-spread: -6px;
    --app-transition-quick: 0.08s;
    --app-border-radius-md: 0.5rem;
    --app-box-shadow-col: var(--ctp-text);
}


h1 {
    line-height: 1rem;
    display: inline;
    display: inline;
    color: var(--ctp-text);
    font-size: 3rem;
    font-family: Playfair Display;
    font-weight: 300;
    letter-spacing: 3px;

    &>span {
        background-color: var(--ctp-lavender);
        --app-box-shadow-offset: 5px;
        --app-box-shadow-blur: 0px;
        --app-box-shadow-spread: 0px;
        box-shadow: var(--app-box-shadow-offset) var(--app-box-shadow-offset) var(--app-box-shadow-blur) var(--app-box-shadow-spread) var(--app-box-shadow-col);

    }
}


@media screen and (min-width: 600px) {
    h1 {
        font-size: 5rem;
    }

}

body {
    width: 100%;
    height: 100%;
    background-size: contain;
}

body>div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-color: var(--ctp-base);
}


form {
    padding: 3rem;
    width: 18rem;
    padding-top: 1rem;
    gap: 2rem;
    display: flex;
    align-items: center;
    border-radius: var(--app-border-radius-md);
    justify-content: center;
    flex-direction: column;
}

.content {
    width: 92%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


input {
    width: 100%;
    height: 2.4rem;
    padding-left: 1rem;
    box-sizing: border-box;
    border-radius: var(--app-border-radius-md);
    border: none;
    outline: none;
    box-shadow: var(--app-box-shadow-offset) var(--app-box-shadow-offset) var(--app-box-shadow-blur) var(--app-box-shadow-spread) var(--app-box-shadow-col);
    background-color: var(--ctp-surface0);
    color: var(--ctp-text);

    transition: all var(--app-transition-quick);

    &:focus {
        background-color: var(--ctp-surface0) !important;
        --app-box-shadow-col: var(--ctp-lavender) !important;
        --app-box-shadow: var(--app-box-shadow-offset) var(--app-box-shadow-offset) var(--app-box-shadow-blur) var(--app-box-shadow-spread) var(--app-box-shadow-col) !important;
    }
}

input.error {
    animation: horizontal-shaking 0.3s linear 1;

    &:placeholder-shown {
        background-color: hsl(from var(--ctp-red) h s l / 70%);
        --app-box-shadow-col: var(--ctp-red);
        --app-box-shadow: var(--app-box-shadow-offset) var(--app-box-shadow-offset) var(--app-box-shadow-blur) var(--app-box-shadow-spread) var(--app-box-shadow-col);

    }
}


label {
    align-self: flex-start;
    margin-bottom: -2.8rem;
    font-size: 0.7rem;
    line-height: 0.8rem;
    color: var(--ctp-subtext0);
    font-weight: 600;
    transition: color var(--app-transition-quick);

    &:has(+input:focus) {
        color: var(--ctp-lavender);
    }

}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--ctp-text);
    transition: background-color 5000s ease-in-out 0s;
    --app-box-shadow-col: var(--ctp-lavender) !important;
    box-shadow: inset 0 0 20px 20px var(--ctp-surface0), var(--app-box-shadow-offset) var(--app-box-shadow-offset) var(--app-box-shadow-blur) var(--app-box-shadow-spread) var(--app-box-shadow-col);
}

input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--ctp-text);
    box-shadow: inset 0 0 20px 20px var(--ctp-surface0), var(--app-box-shadow-offset) var(--app-box-shadow-offset) var(--app-box-shadow-blur) var(--app-box-shadow-spread) var(--app-box-shadow-col);
}

button {
    background-color: var(--ctp-lavender);
    width: 100%;
    padding: 0em;
    height: 3em;
    border-radius: var(--app-border-radius-md);
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 1.2rem;
    height: 3rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--app-box-shadow-offset) var(--app-box-shadow-offset) var(--app-box-shadow-blur) var(--app-box-shadow-spread) var(--app-box-shadow-col);
    transition: transform var(--app-transition-quick), box-shadow var(--app-transition-quick), background-color var(--app-transition-quick);
    color: var(--ctp-base);

    .htmx-request & {
        font-size: 0;
    }

    &:hover,
    &:active,
    &:focus-visible {
        background-color: hsl(from var(--ctp-lavender) h s calc(l * 1.1));
    }

    &:active {
        transform: translateY(var(--app-box-shadow-offset)) translateX(var(--app-box-shadow-offset));
        box-shadow: 0px 0px 0px 0px var(--ctp-text);
    }


}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}

button>svg {
    animation: 2s linear infinite svg-animation;
    max-width: 20px;
    display: none;

    .htmx-request & {
        display: block;
    }
}

@keyframes svg-animation {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg)
    }
}

circle {
    animation: 1.4s ease-in-out infinite both circle-animation;
    display: block;
    fill: transparent;
    stroke: var(--ctp-base);
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    stroke-width: 10px;
    transform-origin: 50% 50%;
}


@keyframes circle-animation {

    0%,
    25% {
        stroke-dashoffset: 280;
        transform: rotate(0);
    }

    50%,
    75% {
        stroke-dashoffset: 75;
        transform: rotate(45deg);
    }

    100% {
        stroke-dashoffset: 280;
        transform: rotate(360deg);
    }
}